---
title: papersheep
layout: base.njk
---
<div class="index-wrapper">
  <div class="index-header centered-text">
  <div class="index-header-top">
    <div class="index-header-avatar">
      <div class="index-profile-pic-wrapper">
        <img class="about-profile-pic" src="/img/profilepic.png"></img>
      </div>
    </div>
    <div class="index-header-title flex-snap-to-bottom">
      <h2 class="homepage-post-header-text centered-text">papersheep: another media blog</h2>
    </div>
  </div>
  <div class="index-header-contents">
    {{ content | safe }}
  </div>
  </div>
  <div class="index-vertical-rule"></div>
  <div class="index-bloglist">
    {% for post in collections.blog %}
      <a class="homepage-post" href="/blog/{{post.data.page.fileSlug}}">
        <img class="header-image" src="{{ post.data.coverImage }}"></img>
        <div class="homepage-post-content">
          <h2 class="homepage-post-header-text">{{post.data.title}}</h2>
          <div class="tag-strip">
            {%- for tag in post.data.tags -%}
              {% if tag in red_tags %}
                <div class="tag-span tag-red">{{ tag }}</div>
              {% elif tag in grey_tags %}
                <div class="tag-span tag-grey">{{ tag }}</div>
              {% else %}
                <div class="tag-span tag-inverse">{{ tag }}</div>
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="homepage-post-content-text">{{post.page.rawInput}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="index-vertical-rule"></div>
</div>
